 .disp img{
    height: 35rem;
    margin-top: 0;
    width: 100%;
}
.disp h2,h1{
    margin-left: 3%;
}
.disp h1{
    margin-left: 4%;
}
.disp p{
    padding: 0% 2% 0% 1%;
    margin-left: 4%;
   
}
body{
    margin: 0;
    background-color:white;
}
