.donation {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.donate h4 {
  font-weight: 600;
  color: #14183e;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}
.donate {
  width: 25rem;
}
